.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-width: 15rem;
    height: 12rem;
    margin: 0.8em;
    padding: 1em;
}
.button{
    padding: 0.3rem 2rem;
    background-color: #112240;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 6px;
}

.h5{
    text-decoration: underline;
}