#nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #112240;
    color: #fff;
    padding-right: 15px;
    max-width: 100vw;
}

.button {
    padding: 0.4em 1.8em;
    border-radius: 6px;
    cursor:pointer;
}

.h4 {
    margin-left: 5px;
    cursor: pointer;
}
.h4:hover {
    color: #5c80be
}